@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.ion-icon{
    margin-left: 411px;
}
 body{
     background-color:#272e3d;
     
 }
 .jumbotron{
     background-color:#272e3d ;
     color: #73ffe2;
 }

 .head1{
     background-color: #525e65;
     color: #d8d9db;
     margin-bottom: 20px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
 }
 .p-info{
     color: #d8d9db;
 }
 .footer{
     background-color: #222733;
     color: #d8d9db;
     padding: 20px;
 }
 .carousel-item{
     width: 100%;
 }
 .mybutton{
     background-color: #73ffe2;
     width: 130px;
     height: 40px;
     font-weight: 600;
     font-size: larger;
     border: none;
     margin-bottom: 10px;
     color:#272e3d ;
 }
 